---
layout: page
description: "Everything is the best arrangement<br />一切都是最好的安排"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->

    <div class="pagination text-align">
      <div class="btn-group">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
              <a href="{{ site.url }}/" class="btn btn-outline">&laquo;</a>
          {% else %}
              <a href="{{ site.url }}/page{{paginator.previous_page}}"  class="btn btn-outline">&laquo;</a>
          {% endif %}
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&laquo;</button>
        {% endif %}
        {% if paginator.page == 1 %}
            <a href="javascript:;" class="active btn btn-outline">1</a>
        {% else %}
            <a href="{{ site.url }}/"  class="btn btn-outline">1</a>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
              <a href="javascript:;"  class="active btn btn-outline">{{count}}</a>
          {% else %}
              <a href="{{ site.url }}/page{{count}}"  class="btn btn-outline">{{count}}</a>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
            <a href="{{ site.url }}/page{{paginator.next_page}}"  class="btn btn-outline">&raquo;</a>
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&raquo;</button>
        {% endif %}
        </div>
    </div>
    <!-- /pagination -->
